@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import "tailwindcss";

@layer base {
  .text-blue-custom {
    color: #1e40af;
  }

  .bg-line-gradient {
    background: linear-gradient(to right, #1e1e1e, #4749e7);
  }

  .bg-line-gradient-reverse {
    background: linear-gradient(to left, #1e1e1e, #4749e7);
  }

  .font-koulen {
    font-family: "Koulen", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}
